-e git+https://github.com/cta-observatory/pyhessio.git#egg=pyhessio
-e git+https://github.com/cta-observatory/ctapipe.git#egg=ctapipe
-e git+https://github.com/cta-observatory/ctapipe-extra.git#egg=ctapipe-extra